
<div class="center jumbotron">
    <h1>ALPHA-BLOG</h1>
    <%= link_to "Sign-up now", signup_path,class: "btn btn-danger btn-lg btn-xlarge" %>

</div>




<body>
<P>It’s actually not that hard, but there’s a lot of conflicting, confusing information out there. On this page? I’m going to spell out how to easily start a blog (at least how I would), so you can get spend less time figuring out the details and more time creating your new stuff.

(Psst: A few affiliate links are used here, which means at no extra cost to you, making a purchase by clicking these links helps support this site. Thanks!)


<H1> Decide on your blog’s name.</H1>

When I say “your blog’s name,” I actually mean its website address, also called a domain name or URL.

Along with deciding what you want to call your blog, you’ll also decide whether you want to self-host your blog, or if you’d rather go with a free alternative—so in a way, this is two steps in one. The reason you’ll decide this when you land on a blog name is because if you go with free, your blog’s address will look something like this:</P>


	<H1>Choose a blog platform.</H1>
