
<!DOCTYPE html>
<html>
<style> 
html { 
  background: url(f.jpg) no-repeat center fixed; 
  background-size: cover;
}

body { 
  color: #878D89; 
font-family : impact;
margin: 30px;
    padding: auto;
}

</style>


<center><%= image_tag '1.jpg' %></center>




<style>
ul {
    font-family : Ravie;	 
    list-style-type: none;
    margin: 10px;
    padding: auto;
    overflow: hidden;
    background-color:   rgb(0,0,0) ;

   
}


li {
    float: left ;
}

li a {
    display: block;
    color: #878D89;
    text-align: centre;
    padding: 20px 55px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

}
</style>
</head>
<body>

<ul>

 <li> <%= link_to 'Home', root_path %></li> 
 <li><%= link_to 'About', pages_about_path %></li>
<li><a href="#photos">Photos</a></li>
<li><a href="https://www.facebook.com/AghaDaniyalOfficial/">Facebook</a></li>
<li><a href="https://www.instagram.com/agha_daniyal/">Instagram</a></li>
 <li><a href="f.html">Contact</a></li>

  
</ul>

<body>
<P>It’s actually not that hard, but there’s a lot of conflicting, confusing information out there. On this page? I’m going to spell out how to easily start a blog (at least how I would), so you can get spend less time figuring out the details and more time creating your new stuff.

(Psst: A few affiliate links are used here, which means at no extra cost to you, making a purchase by clicking these links helps support this site. Thanks!)


<H1> Decide on your blog’s name.</H1>

When I say “your blog’s name,” I actually mean its website address, also called a domain name or URL.

Along with deciding what you want to call your blog, you’ll also decide whether you want to self-host your blog, or if you’d rather go with a free alternative—so in a way, this is two steps in one. The reason you’ll decide this when you land on a blog name is because if you go with free, your blog’s address will look something like this:</P>


	<H1>Choose a blog platform.</H1>
