<div class="container">
	<footer class="footer">
		<small>
			copyright &copy; <a href="https://www.facebook.com/AghaDaniyalOfficial/">The Complete Ruby on Rails on Rails Developer</a> 
			by <a href="#">Agha Daniyal Tariq</a>
	</small>

	<nav>
		<ul>
			<li>
				<%= link_to "About", pages_about_path %>
			</li>
		</ul>
	</nav>
	</footer>
</div>